$color-bg-btn: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
$color-bg-btn-nav: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
$color-text: #FFFFFF;
// $color-black: black;
// $color-line: #E8E4DE;
// $main-color: #c70101;
