.doing {
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 20px 0 20px;
    }
    &__computer {
        display: flex;
        justify-content: center;
    }
    &__text {
        padding-top: 100px;
        max-width: 636px
    }

   
}
