.footer {
    padding: 0 20px 0 20px;

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        padding-bottom: 30px;
    }
    &__subtitle {
        max-width: 411px;
        opacity: 0.3;
        text-align: center;
        padding-bottom: 60px;
    }
    &__block {
        display: flex;
        align-items: center;
        padding-bottom: 40px;
        justify-content: center;
        .js-validate-error-label {
            // order: 2;
            position: absolute;
            margin: 20px 0px 20px 0px;
            right: 45%;
        }
    }
    &__form {
        display: flex;
        align-items: center;
        padding-bottom: 40px;
        justify-content: center;
        flex-direction: column;
    }
    &__input {
        cursor: pointer;
        height: 44px;
        width: 400px;
        padding-left: 39px;
        opacity: 0.25;
        border-radius: 50px 0px 0px 50px;
        font-size: 17px;
        @include reg;
        color: rgb(255, 166, 1);
    }
    &__btn {
        float: left;
        background: $color-bg-btn;
        color: $color-text;
        height: 44px;
        width: 160px;
        position: relative;
        right: 18px;
    }
    ::placeholder {
        color: rgb(255, 166, 1);
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 15px;
            background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
        }
    }
    &__checkbox {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 18px;
        // margin-bottom: 20px;
        margin-top: 15px;
    }
    &__inputCheck {
        margin: 20px;
    }
    &__span {
        margin-right: 20px;
    }
}

.policy {
    color: black;
    margin: 45px 45px 45px 45px;
    padding-bottom: 40px;
    h1 {
        font-size: 35px;
        text-align: center;
        padding-bottom: 20px;
    }
    h2 {
        font-size: 16px;
        @include bold;
        padding-top: 30px;
        padding-bottom: 15px;
        line-height: 20px;
        color: rgb(250, 4, 4);
    }
    p {
        font-size: 16px;
        @include med;
        line-height: 25px;
    }
    a {
        color: red;
        text-decoration: underline;
        @include bold;
    }
}
