.hamburger {
    position: absolute;
    top: 50px;
    left: 150px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    translate: 0.6s all;
    cursor: pointer;
    z-index: 900;
    display: none;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: $color-text;
    }
    span.long {
        width: 36px;
    }
}

// .none {
//     display: none;
// }

// .hamburger-green {
//     span {
//         background: $color-green;
//     }
// }
