@media (max-width: 658px) {
    .footer {
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 12px; 
        }
    }

}
@media (max-width: 588px) {
    .footer {
        &__input {
            width: 100%;
            border-radius: 50px 50px 50px 50px;
            margin-bottom: 50px;
        }
        &__form {
            flex-direction: column;
        }
        &__title {
            font-size: 25px;
            text-align: center;
        }
        &__btn {
            margin-left: 35px;
        }
        &__social {
            justify-content: center; 
        }
        &__checkbox {
            font-size: 16px;

        }
       
    }
    
}
// @media (max-width: 1200px) {
    
// }
// @media (max-width: 1200px) {
    
// }
// @media (max-width: 1200px) {
    
// }
// @media (max-width: 1200px) {
    
// }
