@media (max-width: 658px) { 
    .footer {
        &__input {
            // width: 100%;
            border-radius: 50px 50px 50px 50px;
            margin-bottom: 20px;
        }
        &__title {
            font-size: 25px;
            text-align: center;
        }
        &__btn {
            margin-left: 35px;
        }
        &__social {
            justify-content: center; 
        }
        &__checkbox {
            font-size: 16px;

        }
        &__block {
            .js-validate-error-label {
                position: static;
            }
        }
       
    }
    
}
@media (max-width: 450px) {
    .footer {
        &__input {
            width: 100%;
        }
       
       
    }
}
// @media (max-width: 1200px) {
    
// }
// @media (max-width: 1200px) {
    
// }
// @media (max-width: 1200px) {
    
// }
